@use "~/theme/theme.scss" as *;

.title {
    font-size: $font-size-xl;
    color: $text-800;
    font-weight: 600;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}
