@use "~/theme/theme.scss" as *;

.link {
    text-decoration: none;
    color: $text-600;
    font-size: $font-size-md;
    font-weight: 500;

    padding: $spacing $spacing * 2;

    border-radius: 4px;
    position: relative;
    background: none;
    outline: none;
    border: none;

    cursor: pointer;

    transition: background-color 0.2s ease;

    &::after {
        content: "";
        position: absolute;
        bottom: 0.25rem;
        left: $spacing * 2;
        width: 0;
        height: 2px;
        background-color: $primary-600;
        transition: width 0.3s ease;
    }

    &:hover,
    &:focus {
        color: $text-800;

        &::after {
            width: calc(100% - 2rem);
        }
    }
}
