@use "~/theme/theme.scss" as *;

.skills {
    width: 100%;
    padding: 0 $spacing * 4;

    display: flex;
    align-items: center;
    gap: $spacing * 4;

    &.leftRight {
        flex-direction: row;
    }

    &.rightLeft {
        flex-direction: row-reverse;
    }
}

.textSection {
    display: flex;
    flex-direction: column;
    flex: 1;

    max-width: 50%;
    min-width: 0;
}
