.footer {
    width: 100%;
    padding: 12px 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-600);
    font-size: var(--font-size-sm);
    font-weight: 700;
    text-align: center;
}
