@use "~/theme/theme.scss" as *;

.sectionHeader {
    text-align: center;
}

.title {
    font-size: $font-size-xxl;
    font-weight: 700;
    color: $text-800;
    text-transform: uppercase;
    letter-spacing: 2px;

    position: relative;

    &::after {
        content: "";

        position: absolute;
        bottom: -$spacing;
        left: 50%;

        width: 200px;
        height: 4px;
        border-radius: 2px;

        background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);

        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .title {
        font-size: $font-size-lg;
    }
}
