.container {
    padding-top: 104px; // 80px header height + 24px original padding
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 100px;
    box-sizing: border-box;
}

.introduction {
    max-width: 1300px;
}
