.container {
    padding: 32px 0px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    max-width: 1600px;
    margin: auto;
}

.introduction {
    max-width: 1300px;
}
