.sectionRight,
.sectionLeft {
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.sectionRight {
    transform: translateX(100px);
}

.sectionLeft {
    transform: translateX(-100px);
}

.visible {
    .sectionLeft,
    .sectionRight {
        opacity: 1;
        transform: translateX(0);
    }
}
